input,
textarea {
    font-size: 1.25rem;
    padding: .375rem .5rem;
    border-radius: .25rem;
}

input:focus,
textarea:focus {
    outline: 3px solid var(--clr-bg-light);
}



.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-form__section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact-form__checkbox {
    display: inline-flex;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    gap: .5rem;
}

.contact-form__btn {
    align-self: center;
}

.modal-title {
    color: var(--clr-highlight2);
}

.modal-header {
    display: flex;
    flex-direction: row-reverse;
}