.ecard-wrapper {
  width: min(640px, 97%);
  margin-inline: auto;
  margin-block: 1rem;
  padding: .5rem;
  line-height: 1.5;
  background: linear-gradient(to right, var(--clr-bg-med), var(--clr-bg-dark));
}

.ecard-wrapper>h3 {
  color: var(--clr-highlight);
  font-weight: 700;
}