#brand {
	font-size: clamp(2rem, 3vw, 2.5rem);
	color: var(--clr-text);
	text-decoration: none;
	transition: color 180ms ease;
}

#brand:hover {
	color: var(--clr-highlight);
	transition: color 180ms ease;
}
