header {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: hsl(198 99% 7%);
}

header>h1 {
  padding: 3%;
  color: hsl(29 74% 56%);
  text-shadow: 1px 2px 5px hsl(60 66% 89% / .5);
  cursor: pointer;
}