#brand {
	font-family: 'Oxanium', sans-serif;
	font-size: clamp(2rem, 4vw, 4rem);
	color: var(--clr-text);
	text-decoration: none;
	transition: color 180ms ease;
}

#brand:hover {
	color: var(--clr-highlight);
	transition: color 180ms ease;
}