*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-bg-xdark: hsl(198 99% 7%);
    --clr-bg-dark: hsl(198 99% 9%);
    --clr-bg-mdark: hsl(198 99% 18%);
    --clr-bg-med: hsl(198 99% 27%);
    --clr-bg-mlight: hsl(198 99% 36%);
    --clr-bg-light: hsl(198 99% 45%);
    --clr-bg-vlight: hsl(198 99% 54%);
    --clr-bg-xlight: hsl(198 99% 72%);
    --clr-text: hsl(60 66% 89%);
    --clr-highlight: hsl(29 74% 56%);
    --clr-visited: hsl(276 56% 38%);
    --clr-shadow-light: hsl(60 66% 89% / .33);
}

html {
    width: 100vw;
    font-family: "Courier New", serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    color: var(--clr-text);
    background-color: var(--clr-bg-dark);
    overflow-x: hidden;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexd-column {
    flex-direction: column;
}

.main {
    width: min(1280px, 97%);
    margin-inline: auto;
}

.welcome {
    width: min(65ch, 100%);
    margin-block: 1rem;
    margin-inline: auto;
    padding: 3%;
    text-align: center;
    background-color: var(--clr-bg-xdark);
    border: 3px solid var(--clr-bg-mdark);
    border-radius: .5rem;
}

a:link {
    color: var(--clr-highlight);
}

a:visited {
    color: var(--clr-visited);
}