*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    font-family: "Courier New", serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    color: hsl(60, 66%, 89%);
    background-color: hsl(198 99% 9%);
    overflow-x: hidden;
}

.main {
    width: min(1280px, 97%);
    margin-inline: auto;
}

.welcome {
    width: min(65ch, 100%);
    margin-block: 1rem;
    margin-inline: auto;
    padding: 3%;
    text-align: center;
    background-color: hsl(198 99% 7%);
    border: 3px solid hsl(198 99% 18%);
    border-radius: .5rem;
}

a:link {
    color: hsl(29 74% 56%);
}

a:visited {
    color: hsl(276 56% 38%)
}