@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-bg-xdark: hsl(198 99% 7%);
    --clr-bg-dark: hsl(198 99% 9%);
    --clr-bg-mdark: hsl(198 99% 18%);
    --clr-bg-med: hsl(198 99% 27%);
    --clr-bg-mlight: hsl(198 99% 36%);
    --clr-bg-light: hsl(198 99% 45%);
    --clr-bg-vlight: hsl(198 99% 54%);
    --clr-bg-xlight: hsl(198 99% 72%);
    --clr-text: hsl(60 66% 89%);
    --clr-highlight: hsl(29 74% 56%);
    --clr-highlight2: hsl(45 74% 56%);
    --clr-visited: hsl(276 56% 38%);
    --clr-shadow-light: hsl(60 66% 89% / .33);
    --clr-shadow-dark: hsl(0 0% 0% / .67);
}

::backdrop {
    --clr-backdrop: hsl(0 0% 0% / .72);
}

html {
    font-family: "Roboto Mono", serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    color: var(--clr-text);
    background-color: var(--clr-bg-dark);
    overflow-x: hidden;
}

header {
    width: 100vw;
    background-color: var(--clr-bg-xdark);
}

nav {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

main {
    flex-grow: 1;
}

ul {
    list-style: none;
}

dialog {
    width: min(83ch, 97%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    padding: 3rem 5rem;
    color: var(--clr-text);
    background-color: var(--clr-bg-dark);
    border: 5px solid var(--clr-highlight);
    border-radius: 1rem;
}

dialog::backdrop {
    background-color: var(--clr-backdrop);
}


a {
    text-decoration: none;
}

footer {
    padding: 3rem 0;
    background-color: var(--clr-bg-xdark);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexd-column {
    flex-direction: column;
}

.main {
    width: min(1280px, 97%);
    margin: 9rem auto;
}

.info {
    width: min(65ch, 100%);
    line-height: 1.5;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--clr-bg-xdark);
    border: 3px solid var(--clr-bg-mdark);
    border-radius: .5rem;
}

.external-links {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}


.link-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem 0;
}

.link-list-item {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.25rem;
    transition: color 180ms ease;
}


a:link {
    color: var(--clr-highlight);
}

a:visited {
    color: var(--clr-highlight);
}

a:hover {
    color: var(--clr-highlight2);
}

.btn {
    width: fit-content;
    font-size: 1.25rem;
    font-weight: 600;
    padding: .5rem 1rem;
    background-color: var(--clr-highlight2);
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color 180ms ease;
}

.btn:hover {
    background-color: var(--clr-highlight);
    transition: background-color 180ms ease;
}

.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--clr-text);
    transition: color 180ms ease;
}

.icon:hover {
    color: var(--clr-highlight);
    transition: color 180ms ease;
}


@media screen and (max-width: 720px) {
    nav {
        flex-direction: column;
    }

    dialog {
        padding: 1rem;
    }
}