.project-card__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--clr-bg-med);
    border-radius: .5rem;
    box-shadow: 3px 3px 7px var(--clr-shadow-dark);
    transition: box-shadow 270ms ease;
}

.project-card:hover {
    box-shadow: 5px 5px 11px var(--clr-shadow-dark);
    transition: box-shadow 270ms ease;
}

.project-card__image {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    aspect-ratio: 4 / 3;
}

.project-card__body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
}

.project-card__name {
    font-size: 1.5rem;
    color: var(--clr-highlight2);
}

.project-card__links {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.project-card__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem 0;
    text-decoration: none;
    border-radius: .5rem;
    background-color: var(--clr-bg-dark);
    box-shadow: 0 0 0 var(--clr-shadow-dark);
    transition: all 180ms ease;
}

.project-card__link:hover {
    background-color: var(--clr-bg-mdark);
    box-shadow: 2px 2px 5px 1px var(--clr-shadow-dark);
    transition: background-color 180ms ease;
}

.project-card__link-text {
    color: var(--clr-text);
}

.project-card__techs {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.project-card__tech {
    width: fit-content;
    padding: .375rem .875rem;
    background-color: var(--clr-bg-mdark);
    border-radius: .25rem;
}